<br>
<br>

<div>
    <p>{{message}}</p>
    <br />
    Search show :<input ng-model="search" />
    <ul>
        <li ng-repeat="x in shows | filter : search | orderBy : order">
            <img ng-src="{{x.thumb}}" style="margin: -10px 8px 0 0; float: left; width: 30px;" ng-show="x.thumb">
            {{x.name}} - {{x.rate | currency:'₹'}}
            <div class="remove" ng-click="remove(x)">x</div>
            <span class="status">{{x.rating}}</span>
        </li>
    </ul>
    <button ng-click="order ='name'">Order By Name</button>
    <button ng-click="order='-rating'">Order By Rating</button>
    <br />
    <br />
    <form ng-submit="addShow()">
        <input type="text" placeholder="name" ng-model="show.Name">
        <input type="text" placeholder="status" ng-model="show.Status" />
        <input type="text" placeholder="rate" ng-model="show.Rate" />
        <input type="text" placeholder="rating" ng-model="show.Rating" />
        <input type="submit" value="Add show">
    </form>
</div>